
body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSO-JC3X3fR_xJMo0Vhszmr4IjFbS-yrzNuhQ&usqp=CAU);
    background-repeat: no-repeat;
background-size: cover;
}
p{
    color: bisque;
}
h1{
    color: brown;
    
}


